In [6]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([25,4,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [4]:
l1=[1,2,2,2,2,3,4,4,4,5,5,6]

In [5]:
l1=[1,2,2,3,1,4,5,1,2,6]
e=[]
for i in l1:
    if i not in e:
        e.append(i)
print(list(e))

[1, 2, 3, 4, 5, 6]

In [7]:
## remove duplicates without using set

In [10]:
s="ineuron"
for i in range(4):
    for j in range(0,i+1):
        print("ineuron", end=" " )
    print("\n")
print()

#### Right angled triangle pattern ####

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [24]:
for x in range(0,5,2):
    for z in range(x+1):
        print(" "*len("ineuron"),end=" ")
        print('ineuron',end=" ")
    print()
for x in range(3,0,-2):
    for z in range(x):
        print(" "*len("ineuron"),end=" ")
        print('ineuron',end=" ")
    print()

        ineuron
        ineuron         ineuron         ineuron
        ineuron         ineuron         ineuron         ineuron         ineuron
        ineuron         ineuron         ineuron
        ineuron

In [25]:
### Try to extract all list entities ####

In [26]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 25, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [30]:
new_list=[]
for i in l:
    if type(i)==list:
        new_list.append(i)

In [31]:
new_list

[[1, 2, 3, 4], ['ineuron', 'data science']]

In [32]:
####  Extract all dict entities ###

In [41]:
new_dict={}

In [42]:
new_dict

{}

In [35]:
type(new_dict)

dict

In [39]:
for j in l:
    if type(j)==dict:
        new_dict.update(j)

In [40]:
new_dict

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [45]:
## Extract all tuple entities ####

new_tuple=()
for k in l:
    if type(k)==tuple:
        print(k)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [46]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 25, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [62]:
## Extract all numerical entities ##

for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
25
5
4
45
3
7

In [63]:
## Summation of all data ##

In [66]:

sum=0;
for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==int:
                sum =sum+j
print(sum)

144

In [67]:
## Seperated odd values from list ##

In [80]:

for i in l:
    if type(i)== list:
        for j in i:
            if type(j)==int:
                if j%2!=0:
                    print(j)

1
3

In [90]:

for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if j=="ineuron":
                print(j)

ineuron

In [88]:
## Count the occurence of elemnets ###

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 25, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [107]:


new_list=[]
for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            new_list.append(j)
            print(j,new_list.count(j))

1 1
2 1
3 1
4 1
2 2
3 2
4 2
5 1
6 1
3 3
4 3
5 2
6 2
7 1
k1 1
k2 1
k3 1
3 4
7 2
ineuron 1
data science 1

In [115]:
##  Filter out keys from dict element ##
for i in l:
    if type(i)==dict:
        for j in i:
            print(j)

k1
k2
k3
3
7

In [120]:
## Extract String Elements ##

for i in l:
     if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==str:
                 print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science']
['ineuron', 'data science']

In [127]:
## Extract Alphanum Elements ##

for i in l:
     if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==str:
                 if j.isalnum():
                        print(j)

k1
k2
k3
ineuron

In [128]:
## Multiplication of all entities Numeric ###
mult=1;
for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==int:
                mult =mult*j
print(sum)

288

In [129]:
## Unwrap all data and create a flat list ###

new_list=[]
for i in l:
    if type(i)==tuple or type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            new_list.append(j)

In [130]:
new_list

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science']